.list {
    display: flex;
    justify-content:space-between;
    align-items: center;
    color: #fff;
    width: 83%;
    background-color: #73777B;
    /* height: 100px; */
    margin: 10px 1px;
    padding: 10px;
    border-radius: 5px;
}

#header-user{
    margin: 40px 5px;
}


.faicons {
    margin: 0 5px;
    font-size: 15px;
    cursor: pointer;
}

p {
    margin: 0px;
}

h3{
    margin: 0px;
}

